.main {
    padding-inline: 20%;
}

.avatar {
    display: flex;
    gap: 20px;
}

.avatar img {
    height: 45px;
    border-radius: 50%;
    align-self: center;
}

.avatar button {
    background-color: #103458;
    color: #1173D4;
}

.avatar button:hover {
    filter: brightness(1.2);
}

header { 
    text-align: center;
    margin-top: 35px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 + p {
    text-wrap: balance;
    margin-bottom: 3rem;
    color: #94a3b8;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    padding: 0;
}

.search {
    display: flex;
    background-color: #242D3A;
    border-radius: 8px;
    border: 1px solid #3b4550;
    padding: 0.8rem;
}

form input {
    width: 100%;
    background-color: #242D3A;
    color: white;
    margin-left: 15px;
}


form:focus {
    outline: 1px solid #3b4550;
}

.filters {
    align-self: flex-start;
    margin-bottom: 2rem;
    margin-top: .75rem;
}

select {
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #242D3A;
    color: white;
    border: 0;
}

.resultados {
    margin-top: 1.7rem;
    border: 1px solid #3b4550;
    border-radius: 10px;
}

.oferta-empleo {
    padding: 1.8rem 2.3rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.oferta-empleo + .oferta-empleo {
    border-top: 1px solid #3b4550;
}

.oferta-empleo span {
    font-size: 13px;
    color: #bdbdbd;
}

.oferta-empleo p {
    padding-top: .8rem;
    color: #e0e0e0;
}

.oferta-empleo button {
    padding: 10px 20px;
    font-size: .95rem;
    font-weight: 700;
    color: white;
    background-color: #1173D4;
}

button:active {
    transform: scale(.95);
}

.paginacion ul {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    margin-top: 3rem;
    list-style: none;
    align-items: center;
}

.paginacion li {
    padding: 3px;
    border-radius: 8px;
    transition: background-color .2s ;
}

.paginacion .pagina-actual {
    background-color: #0099ff;
}

.paginacion button {
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.paginacion li:hover {
    background-color: #1173D4;
}
